@page { size: A4 portrait; margin: 2cm 1cm; }
.ticket { border: 2px solid #CCC; margin-bottom: 5px; }
.ticket .ticket-header { background: #F4F4F4; border-bottom: 2px solid #CCC; padding: 10px; }
.ticket .ticket-header h2 { margin: 0; }
.ticket .ticket-header .datetime { margin: 0; color: #666; font-style: italic; }
.ticket dl { margin: 10px; line-height: 1.5; }
.ticket dt { width: 100px; float: left; font-weight: bold; }